dummy-site/temp/**
!dummy-site/temp/.gitkeep
!dummy-site/dist/.gitkeep
node_modules
npm-debug.log
yarn-error.log
dev-manifest.json

# Editor directories and files
.idea
.vscode
.nyc_output
.pnp.js
*.suo
*.ntvs*
*.njsproj
*.sln
