.rest-vars {
    user-select: none;
}

.tailwindtest {
    @apply pb-4;
}

.rest {
    color: #fff;
    user-select: none;
}

@critical {
    .critical {
        user-select: none;
    }
}

div.app {
    background: #fff;
}

