.rest-vars {
  color: env(--css-color);
  user-select: none;
}

.rest {
  color: #fff;
  user-select: none;
}
/* critical:start */
.critical {
  color: env(--css-color);
  user-select: none;
}
.critical {
  color: #fff;
  user-select: none;
}
/* critical:end */
